<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Default initialization and destroy methods: the next 2 lines could be added to <beans> attribute
    to effectively add init/destroy methods for all beans.
        default-init-method = "init"
        default-destroy-method = "destroy">
    -->

    <bean id="helloWorld" class="com.tutorialspoint.HelloWorld" init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World!"/>
    </bean>

    <!--Bean Post Processors: called on every been creation process -->
    <bean class="com.tutorialspoint.InitHelloWorld"/>

</beans>